# Todos os experimentos
python run_experiments.py

# Apenas seção 5.1
python run_experiments.py --section 5.1

# Apenas seção 5.2  
python run_experiments.py --section 5.2


anytree
jupyterlab
imblearn
lime
matplotlib==3.4.1
minds-kit
namedlist
notebook
numpy==1.21.1
opencv-python
pandas==1.3.4
Pillow
pysmt==0.9.0
python-sat==0.1.8.dev2
scikit-learn==1.0.2
scipy==1.9.1
shap
torch 
torchvision
tqdm
wittgenstein
xgboost==1.7.3
